.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  color: #e0e0e0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fafafa;
  font-weight: 500;
}


.item-card {
  margin-bottom: 20px;
  background-color: #2a2a2a !important;
  color: #e0e0e0;
  border-radius: 12px;
  padding: 10px 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}


mat-card-title {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 600;
}


mat-card-subtitle {
  color: #bdbdbd !important;
}

p {
  margin: 0;
  color: #cecece !important;
}

.row {
  display: flex;
  gap: 20px;
}

.produto-img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
}


button[mat-button] {
  color: #ff6b6b !important;
  font-weight: bold;
}

.total-card {
  background-color: #1e1e1e !important;
  color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

button[mat-raised-button] {
  width: 100%;
  font-weight: bold;
  border-radius: 25px;
  padding: 12px;
  background-color: #3f51b5;
  color: white;
}

button[mat-raised-button]:hover {
  background-color: #5c6bc0;
  color: white;
}

.empty {
  color: #9e9e9e;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}