@import "tailwindcss";
body {
  display: block;
  padding: 16px;
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202125;
  color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-icon {
  color: inherit !important;
}

.mat-icon.mat-icon-no-color {
  color: inherit !important;
}